{% extends "navi-layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="chat">
    <ul>
        {% for message in messages %}
        <li>
            <div class="message-container">
                <small>{{ message.submissiontime }}</small>
                <p>{{ message.content }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="message-input-container">
        <input type="text" name="message-input" placeholder="Type something...">
        <button type="submit">Send</button>
    </div>
</div>

<div class="content">
    <div class="suggestions">
        <div class="sort-options">
            <p>Sort by:</p>
            <form>
                <select size="1">
                    <option value="hot" selected>Hot</option>
                    <option value="top">Top</option>
                    <option value="new">New</option>
                </select>
            </form>
        </div>
        <div class="thumbnails">
            {% for video in videos %}
            <div class="thumbnail-container">
                <a href=/video/{{ video.id }}>
                    <img src="https://img.youtube.com/vi/{{ video.videoaddress }}/1.jpg" alt="Video thumbnail">
                    <p>{{ video.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}