<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>

<body>
    <div class="navigation">
        <a href="/" class="logo">
            <h1>Joutube</h1>
        </a>
        <div class="search-container">
            <form action="/results" method="POST">
                <input type="text" placeholder="Search...">
                <button type="submit">Submit</i></button>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="suggestions">
            <div class="sort-options">
                <p>Sort by:</p>
                <form>
                    <select size="1">
                        <option value="hot" selected>Hot</option>
                        <option value="top">Top</option>
                        <option value="new">New</option>
                    </select>
                </form>
            </div>
            <div class="thumbnails">
                {% for video in videos %}
                <div class="thumbnail-container">
                    <a href=./video/{{ video.id }}>
                        <img src="https://img.youtube.com/vi/{{ video.videoaddress }}/1.jpg" alt="Video thumbnail">
                        <p>{{ video.title }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>